{{title}}
<!--Centriamo la mappa alle nostre coordinate-->
<agm-map [latitude]="lat" [longitude]="lng">
  <!--Mettiamo un marker alle nostre coordinate-->
  <agm-marker [latitude]="lat" [longitude]="lng">
  </agm-marker>

  <agm-circle [latitude]="lat" [longitude]="lng"
      [radius]="5000"
      [fillColor]="'red'">
  </agm-circle>

  <agm-circle [latitude]="latCasaMia" [longitude]="lngCasaMia"
      [radius]="5000"
      [fillColor]="'green'">
  </agm-circle>

  <agm-marker [latitude]="latCasaMia" [longitude]="lngCasaMia">
  </agm-marker>


  <agm-marker [latitude]="latGatto" [longitude]="lngGatto" [iconUrl]="icon">
  </agm-marker>

  <agm-marker [latitude]="latTitti" [longitude]="lngTitti" [iconUrl]="icon1">
  </agm-marker>

  <agm-marker [latitude]="latNemo" [longitude]="lngNemo" [iconUrl]="icon2">
  </agm-marker>

<agm-marker [latitude]="latSimba" [longitude]="lngSimba" [iconUrl]="icon3">
  </agm-marker>

<agm-polygon [paths]="triangle" [fillColor]="'red'">
</agm-polygon>

<agm-polygon [paths]="rectangle" [fillColor]="'yellow'">
</agm-polygon>

</agm-map>
